<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <!-- Pipelines -->
    <pipelines>
      <httpRequestBegin>
        <processor patch:before="processor[@type='Sitecore.Pipelines.HttpRequest.LayoutResolver, Sitecore.Kernel']"
                   type="UnofficialTraining.Session6.SCExtensions.Pipelines.Handle404, UnofficialTraining.Session6.SCExtensions">
          <TargetWebsites hint="list">
            <site>website</site>
          </TargetWebsites>
          <StatusDescription>Page Not Found</StatusDescription>
          <RelativeUrlPrefixesToIgnore hint="list">
            <Prefix>/~/</Prefix>
            <Prefix>/api/sitecore/</Prefix>
            <Prefix>/bundles/</Prefix>
            <Prefix>/layouts/</Prefix>
            <Prefix>/sitecore/</Prefix>
            <Prefix>/sitecore modules/</Prefix>
          </RelativeUrlPrefixesToIgnore>
        </processor>
      </httpRequestBegin>
    </pipelines>
  </sitecore>
</configuration>
