<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="item:createlanguageversions" type="UnofficialTraining.Session6.SCExtensions.Commands.CreateLanguageVersions, UnofficialTraining.Session6.SCExtensions"/>
    </commands>

    <events>
      <event name="item:added">
        <handler type="UnofficialTraining.Session6.SCExtensions.Events.ItemEventHandler, UnofficialTraining.Session6.SCExtensions" method="HandleItemName"/>
      </event>
      <event name="item:renamed">
        <handler type="UnofficialTraining.Session6.SCExtensions.Events.ItemEventHandler, UnofficialTraining.Session6.SCExtensions" method="HandleItemName"/>
      </event>
    </events>
    
    <sites>
      <site name="website">
        <patch:attribute name="404Page">/sitecore/content/Home/404</patch:attribute>
      </site>
    </sites>
  </sitecore>
</configuration>