<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="DefaultAspxPageName" value="default"/>
      <setting name="DomainTranslationDictionary.CacheLifetime" value="06:00:00" />
      <setting name="Media.RequestExtension">
        <patch:attribute name="value"></patch:attribute>
      </setting>
      <!-- Custom error pages BEGIN-->
      <setting name="RequestErrors.UseServerSideRedirect" >
        <patch:attribute name="value">true</patch:attribute>
      </setting>
      <setting name="ItemNotFoundUrl">
        <patch:attribute name="value">/404.aspx</patch:attribute>
      </setting>
      <setting name="LinkItemNotFoundUrl">
        <patch:attribute name="value">/404.aspx</patch:attribute>
      </setting>
      <setting name="LayoutNotFoundUrl">
        <patch:attribute name="value">/404.aspx</patch:attribute>
      </setting>
      <setting name="ErrorPage">
        <patch:attribute name="value">/404.aspx</patch:attribute>
      </setting>
      <!-- Custom error pages END-->
      <!--  HTML EDITOR DEFAULT PROFILE
        Path to the default html editor profile.
        Default value: /sitecore/system/Settings/Html Editor Profiles/Rich Text Default
      -->
      <setting name="HtmlEditor.DefaultProfile" value="/sitecore/system/Settings/Html Editor Profiles/Rich Text Full"/>
    </settings>
    
    <linkManager>
      <providers>
        <add name="sitecore">
          <patch:attribute name="lowercaseUrls">true</patch:attribute>
          <patch:attribute name="addAspxExtension">false</patch:attribute>
        </add>
      </providers>
    </linkManager>
    <encodeNameReplacements>
      <replace mode="on" find=" " replaceWith="-" />
    </encodeNameReplacements>
  </sitecore>
</configuration>
